doctype html
form(method="post", action="/")
    input(type="text", name="api[address]", value='127.0.0.1:4028')
    input(type="text", name="api[command]", value='{"command":"summary"}')
    input(type="submit", value="Submit")
